*.vs

*Mttechne.Backend.Junior.Interface/obj
/Mttechne.Backend.Junior.Interface/obj/Debug/net6.0/Mttechne.Backend.Junior.Interface.AssemblyInfoInputs.cache
/Mttechne.Backend.Junior.Interface/Mttechne.Backend.Junior.Interface.csproj.user
/Mttechne.Backend.Junior.Interface/obj/Debug/net6.0/Mttechne.Backend.Junior.Interface.csproj.AssemblyReference.cache
/Mttechne.Backend.Junior.Interface/obj/Debug/net6.0/Mttechne.Backend.Junior.Interface.GeneratedMSBuildEditorConfig.editorconfig
/Mttechne.Backend.Junior.Services/obj/Debug/net6.0/Mttechne.Backend.Junior.Services.AssemblyInfo.cs
/Mttechne.Backend.Junior.Services/obj/Debug/net6.0/Mttechne.Backend.Junior.Services.AssemblyInfoInputs.cache
/Mttechne.Backend.Junior.Services/obj/Debug/net6.0/Mttechne.Backend.Junior.Services.csproj.AssemblyReference.cache
/Mttechne.Backend.Junior.Services/obj/Debug/net6.0/Mttechne.Backend.Junior.Services.GeneratedMSBuildEditorConfig.editorconfig
/Mttechne.Backend.Junior.Services/obj/Debug/net6.0/Mttechne.Backend.Junior.Services.sourcelink.json
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/Mttechne.Backend.Junior.Services.AssemblyInfo.cs
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/Mttechne.Backend.Junior.Services.AssemblyInfoInputs.cache
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/Mttechne.Backend.Junior.Services.assets.cache
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/Mttechne.Backend.Junior.Services.csproj.AssemblyReference.cache
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/Mttechne.Backend.Junior.Services.GeneratedMSBuildEditorConfig.editorconfig
/Mttechne.Backend.Junior.Services/obj/Release/net6.0/Mttechne.Backend.Junior.Services.GlobalUsings.g.cs
/Mttechne.Backend.Junior.UnitTests/obj/Debug/net6.0/Mttechne.Backend.Junior.UnitTests.AssemblyInfo.cs
/Mttechne.Backend.Junior.UnitTests/obj/Debug/net6.0/Mttechne.Backend.Junior.UnitTests.AssemblyInfoInputs.cache
/Mttechne.Backend.Junior.UnitTests/obj/Debug/net6.0/Mttechne.Backend.Junior.UnitTests.assets.cache
/Mttechne.Backend.Junior.UnitTests/obj/Debug/net6.0/Mttechne.Backend.Junior.UnitTests.csproj.AssemblyReference.cache
/Mttechne.Backend.Junior.UnitTests/obj/Debug/net6.0/Mttechne.Backend.Junior.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/Mttechne.Backend.Junior.UnitTests/obj/Debug/net6.0/Mttechne.Backend.Junior.UnitTests.sourcelink.json
/Mttechne.Backend.Junior.UnitTests/obj/Mttechne.Backend.Junior.UnitTests.csproj.nuget.dgspec.json
/Mttechne.Backend.Junior.UnitTests/obj/Mttechne.Backend.Junior.UnitTests.csproj.nuget.g.props
/Mttechne.Backend.Junior.UnitTests/obj/project.assets.json
/Mttechne.Backend.Junior.UnitTests/obj/project.nuget.cache
